.stock_title 入庫情報訂正入力
= form_for @stock, method: :patch do |f|
  %table.stock-table
    %tr
      %th
        = f.label :stock_year, "入庫年"
      %th
        = f.label :stock_year, "入庫月"
      %th
        = f.label :stock_year, "入庫日"
      %th 
        = f.label :lot, "ロット"
      %th
        = f.label :box, "数量/箱"
      %th
        = f.label :weight, "重量/Kg"
      %th.table-status
        = f.label :status,"入庫状態"
      %th
        = f.label :catogry_id,"品種"
    %tr
      %td.form-stock
        = f.select :stock_year,[["2020", "2020"],["2019", "2019"], ["2018", "2018"]]
      %td.form-stock
        = f.select :stock_month,[["1", "1"], ["2", "2"],  ["3", "3"], ["4", "4"],["5", "5"],["6", "6"], ["7", "7"],  ["8", "8"], ["9", "9"],["10", "10"], ["11", "11"],["12", "12"]]
      %td.form-stock
        = f.select :stock_day,[["1", "1"],["2", "2"],["3", "3"], ["4", "4"],["5", "5"],["6", "6"], ["7", "7"],  ["8", "8"], ["9", "9"],["10", "10"],["11", "11"],["12", "12"],["13", "13"], ["14", "14"],["15", "15"],["16", "16"], ["17", "17"],  ["18", "18"], ["19", "19"],["20", "20"],["21", "21"],["22", "22"],["23", "23"], ["24", "24"],["25", "25"],["26", "26"], ["27", "27"],  ["28", "28"], ["29", "29"],["30", "30"], ["31", "31"]]
      %td.form-stock
        = f.text_field :lot, placeholder: '例）B09002',class:"stock-text-field"
      %td.form-stock
        = f.text_field :box, placeholder: 'ケース数で入力',class:"stock-text-field"
      %td.form-stock
        = f.text_field :weight, placeholder: "4桁まで入力可",class:"stock-text-field"
      %td.form-stock-status
        = f.select :status,[["1:在庫", "1"], ["2:仮出庫", "2"], ["3:出庫済", "3"]]
      %td.form-stock
        = f.text_field :category_id, placeholder: "畜種/部位/規格",class:"stock-text-field"
  .stock-button
    = f.submit "訂正" ,class: "stock-finish"