.stock_title 商品マスタ一覧
%table.stock-table-show
  %tr
    %th コード
    %th 畜種
    %th 部位
    %th 規格
    %tr
      - @parents.each do |parent|
        %tr
          - if parent.ancestry == nil
          - elsif parent.ancestry.length == 1
          - else
            %td= parent.id
            %td= parent.id
            %td= parent.id
            %td= parent.genre
.stock-button
  = link_to new_category_path, class: "stock-edit-button" do
    .stock-button-edit-font 新規登録
  = link_to root_path, class: "stock-edit-button" do
    .stock-button-edit-font 戻る
