!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stockbot
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .container
    %header.header
      .top_left
        = link_to root_path, class: "title-space" do
          .title Stockbot
          .sub-title - 在庫管理アプリ -
      .top-center
        - if user_signed_in?
          #{current_user.nickname}さんでログインしています
        - else
      .top_right
        - if user_signed_in?
          = link_to destroy_user_session_path, method: :delete, class: "" do
            .top-right-button ログアウト
        - else
          = link_to new_user_session_path, class: "" do
            .top-right-button ログイン
          = link_to new_user_registration_path, class: "" do
            .top-right-button 新規登録
    .content
      .side
        = render "./layouts/side"
      .main
        .main_flame
          = yield
    %footer.footer 