.devise-wrapper
  .login-title 新規登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "devise-form"
    .field
      = f.label :password
      - if @minimum_password_length
        (4〜8桁)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: "devise-form"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "devise-form"
    .actions
      = f.submit "登録", class: "devise-finish-button"
